{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <title>Ajouter un étudiant</title>
    <link rel="stylesheet" href="{% static 'css/ajouter.css' %}">
</head>
<body>
    <div class="container">
        <h1>Inscription</h1>
        <form method="post">
            {% csrf_token %}

            <label for="{{ form.nom.id_for_label }}">Nom</label>
            {{ form.nom }}

            <label for="{{ form.prenom.id_for_label }}">Prénom</label>
            {{ form.prenom }}

            <!-- Ligne niveau + classe -->
            <div class="flex-row">
                <p class="label-like">Classe</p>
                <div>
                    {{ form.niveau }}
                </div>
                <div>
                    {{ form.classe }}
                </div>
            </div>

            <label for="{{ form.club.id_for_label }}">Club</label>
            {{ form.club }}

            <label for="{{ form.theme.id_for_label }}">Thème</label>
            {{ form.theme }}

            <button type="submit">Enregistrer</button>
        </form>
        <a href="{% url 'liste_etudiants' %}">Voir la liste des inscrits</a>
    </div>
</body>
</html>
